<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <img [src]="image_1" alt="" class="img-fluid">
      </div>
      <div class="card-body">
        <p class="mat-display-1">{{tours[0]}}</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt error excepturi molestias obcaecati odio perspiciatis praesentium rerum saepe sunt veniam!</p>
      </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <img [src]="image_2" alt="" class="img-fluid">
        </div>
        <div class="card-body">
          <p class="mat-display-1">{{tours[1]}}</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt error excepturi molestias obcaecati odio perspiciatis praesentium rerum saepe sunt veniam!</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <img [src]="image_3" alt="" class="img-fluid">
        </div>
        <div class="card-body">
          <p class="mat-display-1">{{tours[2]}}</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt error excepturi molestias obcaecati odio perspiciatis praesentium rerum saepe sunt veniam!</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <img [src]="image_4" alt="" class="img-fluid">
        </div>
        <div class="card-body">
          <p class="mat-display-1">{{tours[3]}}</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt error excepturi molestias obcaecati odio perspiciatis praesentium rerum saepe sunt veniam!</p>
        </div>
      </div>
    </div>
  </div>
</div>
